body{
    background-color:aliceblue;
    opacity: 60%;
    font-family: sans-serif;
    color: black;
    box-sizing: border-box;
    color: black;
}
.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
}
.logo-image img{
    width: 70px;
    height:40px;
}
.logo-text{
    font-size: x-large;
    padding-left: 1rem;
    
    
}
.logo{
    display:flex;
    
    
    
}
.navigation-links ul{
    display: flex;

    
}
li{
    text-decoration: none;
    font-size: medium;
    list-style: none;
    padding-left: 2rem;

}
a{
    text-decoration: none;
    font-size: medium;
    font-style: none;
    color: black;

}
.hero-section{
    display: block;
    justify-content: center;
    display: flex;
}
.hero-section-text{
    font-weight: bold;
    font-size: 20px;
}
.herosection-input{

background-color: white;
width: 250px;
border: solid;
border-width: 1px;
padding-top:0.2rem;
padding-bottom: 0.2rem;
}
.hero-section-button{
    display: block;
    margin-top: 1rem;
    font-size: medium;
    background-color: yellow;
    padding-top:1rem;
    padding:0.2rem
}
.service-card{
    display:flex;
}
.service-image img{
    width: 100px;
    height:100px;
}
.services{
    display:flex;
    justify-content: center;
    margin-top: 50px;
}
.service-text{
    padding-left: 2rem;
}
.youtube-section{
    display:flex;
    justify-content: center;
    margin-top: 20px;

}
.youtube-section img{
    width: 600px;
    height: 400px;
}
.pricing-options{
    display:flex;
    justify-content: space-around;
    padding-left:4rem;
    padding-right:4rem;
    margin-top: 3rem;
}
.price-card{
    width: 200px;
    border:solid;
    border-width: 1px;
    padding:10px;
}